body{
  /* background-color: darkgrey;  ` */
}

.main-content{
  width: 30%;
  height: 30%;
  
  margin-top: 30px;
  margin-left: 30%;
}

.result{
  text-align: center;
}

.container{
  margin-top: 10rem;
}

.title-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3fb5a1;
  color: #fff;
  /* padding: 20px; */
}

 .main-card-content{
  height: 30% !important;
  background-color: red  !important;
} 

.Generate-button{
  margin-top: 10px;
  margin-top: 20px;
}

.scanner-icon{
  margin: 10px;
}

.main-images{
  width: 60%;
}

.main-divs{
  justify-content: center;
}

.main-text-card{
  padding: 30px;
}

.g-button{
  padding: 10px;
  margin-top: 10px;
 
}

.get-image{
  display: flex;
  justify-content: center;
}

.cancel-icon{
  color:#3fb5a1;
  float: right;
  font-size: large;


}

.file-upload-grid{
  margin-left: 30%;
}

.webcam-reader{
  width: 30%;
  margin-left: 30%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="main-divs"] {
    /* margin-top: 15px; */
    margin: 10%;
  }
  [class*="container"] {
    /* margin-top: 15px; */
    margin: 1rem;
  }
  [class*="responsive-card"] {
    margin-top: 25%;
  }
  [class*="file-upload-grid"] {
    margin-left: 10%;
  }
  [class*="webcam-reader"] {
    width: 100%;
    margin-left: 1%;
    margin-top: 5%;
  }
}